@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC');
@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');
@import url('https://fonts.googleapis.com/css?family=Barriecito');
@import url('https://fonts.googleapis.com/css?family=Monofett');
@import url('https://fonts.googleapis.com/css?family=Warnes');
@import url('https://fonts.googleapis.com/css?family=Spartan');
@import url('https://fonts.googleapis.com/css?family=Caladea');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#contents {
  scroll-behavior: smooth;
}

